.menuItem {
    margin: auto;
    width: 100%;
    border: 3px solid lightgray;
    border-radius: 25px;
    padding: 10px;
    font-size: 30px;
}

.menuItemName {
    font-size: 30px;
}

.menuItemPrice {
    font-size: 20px;
}

.menuItemDescription {
    font-size: 15px;
}

.productItem {
    margin: auto;
    width: 100%;
    border: 3px solid lightgray;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
}

.productItemName {
    font-size: 20px;
}

.productItemPrice {
    font-size: 15px;
}

.productItemDescription {
    font-size: 15px;
}

.choiceItem, .choiceItemSide, .choiceItemEntree{  
    margin: auto;
    width: 100%;
    border: 3px solid lightgray;
    border-radius: 25px;
    padding: 10px;
    font-size: 30px;
}

.choiceItemName, .choiceItemSideName, .choiceItemEntreeName {
    font-size: 20px;
}

.choiceItemPrice {
    font-size: 20px;
}

.quantityDiv {
    width: 170px;
}

.selectedDiv {
    width: 100%;
}
.sideSelected, .entreeSelected {
    width:200px;
    margin: auto;
    margin-top:-15px;
    background: white;
    font-size: 20px;
    color: red;
}

.sideQuantityIncrementDiv, .entreeQuantityIncrementDiv {
    width:200px;
    margin: auto;
    margin-top:2px;
    background: white;
}